/* for older browsers to be able to properly render these HTML5 elements*/
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

body { 
	background-image: url("http://ialbertm.github.io/dws1/martinez-albert-project3/images/wood.png");
}
body {
	width: 1000px;
	background-color: #f2e1dd;
	color: #736b68;
	margin: 0 auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
}

.wrap {
	background-image: url("images/wood.png");
	background-repeat: repeat;
}

h1, h2, h3 {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    color: #000;
   	text-transform: capitalize;
   	font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.757em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1;

}

ul {
    list-style: none;
}

a, section {
    text-decoration: none;
    transition: all 0.2s ease-out;
}

blockquote {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    font-size: 2em;

}

header {
	text-align: center;
}

#sidebar {
	margin-left: 5%;
	right: 10%;
}

article {
	width: 60%;
	float: left;
}

footer {
	width: 100%;
}

nav li {
	float: left;
	margin: 1%;
}


/*
-----------------------------------------------------------------
 COLORS
-----------------------------------------------------------------
*/

/* As hex codes */

/* Main Primary color */

/* Main Secondary color (1) */

/*
-----------------------------------------------------------------
LAYOUT
-----------------------------------------------------------------
*/
.float-l {
	float: left;
	margin: 10px;
}

.float-r {
	float: right;
	margin: 10px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 1%;
}

.clear {
	clear: both;
}

.col-s {
	width: 30%;
}


/*
-----------------------------------------------------------------
IMAGES
-----------------------------------------------------------------
*/
.sketch1 {
	background-image: url("images/sketch1.png");
	background-repeat: no-repeat;
	background-size: 
}