/*
-----------------------------------------------------------------
BOX MODEL P
-----------------------------------------------------------------
*/
body { 
	width: 1000px; /*1000px*/
	background-image: url("images/sketchmain.png"), url("http://ialbertm.github.io/dws1/martinez-albert-project3/images/wood.png");
	background-color: #f2e1dd;
	color: #f2e1dd;
	margin: 0 auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
}

article {
	background-color: rgba(110,127,112, 0.75);
	padding: 5%;
}

.wrap {
	background-image: url("images/wood.png");
	background-repeat: repeat;
}

h1, h2, h3 {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    color: white;
   	text-transform: uppercase;
   	font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.757em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1;

}

ul {
    list-style: none;
}

a, a:link {
    text-decoration: none;
    color: #8fff9d;
}

a:hover, a:focus, a



blockquote {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    font-size: 2em;

}

header {
	text-align: center;
}

.tagline {
	font-size: 2em;
	color: white;
}

.main-header {
	width: 100%;
}

.main-nav li {
	display: inline;
	margin: 3%;
	padding: 0;
}

#sidebar {
	width: 90%;
	margin-left: 2%;
	
}

article {
	width: 60%;
	float: left;
}

footer {
	width: 100%;
}



/*
-----------------------------------------------------------------
INTRO
-----------------------------------------------------------------
*/

.promo-col {
	width: 100%;
	margin: 0 auto;
}

.col-s {
	float: left;
	font-size: 70%;
	width: 28%;
	margin: 1%;
}

/*
-----------------------------------------------------------------
 COLORS
-----------------------------------------------------------------
*/

/* As hex codes */

/* Main Primary color */

/* Main Secondary color (1) */

/*
-----------------------------------------------------------------
LAYOUT
-----------------------------------------------------------------
*/

.float-l {
	float: left;
	margin: 10px;
}

.float-r {
	float: right;
	margin: 10px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 1%;
}

.clear {
	clear: both;
}



/*
-----------------------------------------------------------------
IMAGES
-----------------------------------------------------------------
*/
.sketch1 {
	background-image: url("images/sketch1.png");
	background-repeat: no-repeat;
	background-size: 
}